on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare git
        run: |-
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - name: Eslint & Prettier
        run: |
          npx eslint
          npx prettier --check .
      - name: Compile
        run: npm run compile
      - name: Test
        run: xvfb-run -a npm run test
        if: runner.os == 'Linux'
      - name: Test
        run: npm run test
        if: runner.os != 'Linux'
